.loginpage1{
    margin: 40px;
    height: 400px;
    width: 400px;
    background-color: white;
    float: right;
    padding-top: 80px;
    margin-top: 50px;
    padding-right: 45px;
}
.loginpro1{
    float:right;
    padding-bottom: 50px;
    padding-right: 200px;
}
.imglogin1{
    height: 640px;
    width: 750px;
    float: left;
}
.link1{
    float:right;
    padding-right: 140px;
}